<%= form_for @article do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
                
      <%= f.text_field :title ,{class: 'form-control' }%>
                
      <%= f.label :content %>
                
      <%= f.cktext_area :content, rows: 10, :ckeditor => {:toolbar => 'mini'}   %><br>
                
      <%= f.label :commentable, 'Allow comments'.html_safe  , {class: ""} %>
      <%= f.check_box (:commentable), {class: 'checkbox'}%>
      <div class = "row">
        <div class = "col-md-3 col-md-push-9">
     <%= f.submit yield(:button_text), class: "btn btn-success" %>
        </div>
     </div>
  </div>
<% end %>

            