<% provide(:title, 'Article Entry') %>
<h1>Create Article</h1>

<div class="row">
      

  <%= form_for @article do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, rows: 10 %>
  </div>
    <%= f.label :commentable, 'Allow comments'.html_safe  , {class: "checkbox inline"} %>
    <%= f.check_box (:commentable)%>
    
  <div>
     <%= f.submit "Add Class", class: "btn btn-primary" %>
  </div>
<% end %>
          




          


         
        
      </div>
    </div>