 <% provide(:title, @exerciseclass.title) %>
    <div class="row">
      <aside class="col-md-10">
        <section class="user_info">
          
            
           <h1> <%= @exerciseclass.title %></h1>
            <p><%= @exerciseclass.description %></p>
            <p><%= @exerciseclass.class_style.style %></p>
            <p><%= @exerciseclass.class_level.level %></p>
            <p><%= @exerciseclass.date %></p>
            <p><%= @exerciseclass.user.name %></p>
          
        </section>
      </aside>
      <section class="event_attendence">
      
          <%= render 'attend_form' %></div>

      </section>
      <% if current_user.trainer? %>
      <%= button_to "Edit", edit_exercise_class_path(@exerciseclass), method: :get, class: "btn btn-sm btn-primary " %>
      <%= button_to "Delete", @exerciseclass, method: :delete, data: { confirm: "You sure?" } ,class: "btn btn-sm btn-primary " %>
      <%end%>
    <ol>
        <% @exerciseclass.participants.each do |attendee| %>
          <li><%= link_to attendee.name, attendee %></li>

        <% end %>
    </ol>
    